.services-head .hsContainer {
	height: 100vh;
}
.services-head .bg {
    background-image: url(../img/service.jpg);
}
.touch-device .services-head .bg {
	background: url(../img/service.jpg) no-repeat center;
	background-size:cover;
	background-position: center !important;
}
.services-head .container {
	padding-top: 100px;
	padding-bottom: 150px;
    color:#f2f2f2;
}

.services-head-content {
	padding-left: 65px;
	float: right;
	/*width: 78%;*/
	width: 50%;
}

.services-head h1 {
    margin-bottom:80px;
	margin-left: 20%;
}

.services-head p {
    margin-bottom:30px;
}

.quote h2 {
	margin-bottom: 10px;
	margin-right: 20%;
}

.subheading {
    font-size:68px;
    line-height:65px;
    font-family: 'caslon_540regular';
    font-style: normal;
    font-weight: normal;
	letter-spacing: 0;
	margin-top: 0;
}

.signup .bg {
    background-image: url(../img/service-two.jpg);
}
.touch-device .signup .bg {
	background: url(../img/service-two.jpg) no-repeat center;
	background-size:cover;
	background-position: center !important;
}
.apply-section {
    color:#f2f2f2;
    padding: 100px 0px;
}
.apply-to-join {
	width: 25%;
	margin: 0 auto;
}

.apply-form input {
    border:0px;
    border-bottom:2px solid #f2f2f2;
    background:none;
    font-style:normal;
    color:#f2f2f2;
	-webkit-font-smoothing: antialiased;
}
.apply-form input:focus {
	outline: none;
}


.about-the-service {
	margin-bottom: 50px;
}

.logos {
	padding-top: 90px;
	padding-bottom: 90px;
}
.logos img {
	margin: 0 auto;
	display: block;
}


@media only screen and (max-width: 700px) {
	.services-head .container {
		padding-top: 140px;
		padding-bottom: 40px;
	}
	.services-head h1 {
		margin-left: 0;
	}


	.apply-to-join {
		width: 100%;
	}

	.about-the-service {
		margin-bottom: 0;
	}
	.about-the-service h2 {
		margin-bottom: 30px;
	}
}
